<% cache do %>
	<div class="container">
		<h1>About Us</h1>
		<div class="row">
			
			<div class="col-md-4 col-sm-12">
				<!--put image here-->
			</div>
			<div class="col-md-8 col-sm-12">
						<p>Gastropub locavore you probably haven't heard of them fanny pack sriracha. Beard chartreuse narwhal leggings four loko artisan 8-bit migas, asymmetrical stumptown polaroid. Knausgaard affogato kogi, chicharrones vice iPhone pickled normcore disrupt 8-bit ennui occupy poutine typewriter fixie. Intelligentsia tofu synth, ramps austin art party literally. Try-hard +1 quinoa fingerstache, butcher gochujang cronut drinking vinegar kogi chillwave raw denim. Cliche distillery neutra, kale chips yr 3 wolf moon 90's bushwick celiac. Green juice try-hard 8-bit, butcher master cleanse fap distillery cred.</p>
			</div>
		</div>

	</div>
<% end %>