<% cache do %>
	<div class="container">
		<h1>About Us</h1>
		<div class="row">
			
			<div class="col-md-4 col-sm-12">
				<%= image_tag("cyclist.jpg", class: "img-responsive") %>
			</div>
			<div class="col-md-8 col-sm-12" id="aboutus">
						<p>Bangor Bikes is a small operation based in Bangor Maine. We refurbish bikes from craigslist, junkyards, and friends. We instill  character into each bike we work on, so that <strong>every Bangor Bike is as unique as the person riding it.</strong> Have a bike you want refurbished? Head over to our contact page and shoot us a message!</p>
			</div>
		</div>

	</div>
<% end %>