// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#productov {
	height: auto;

}

#productshow {
  padding-top: 90px;
}

#titleo {
    height: 70px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

#titleo h3 {
    font-size: 16px;
}

#imagov {
    height: 300px;
}

#imagov .thumbnail {
    border: none;
}

@media (max-width: 991px) {
    #imagov {
        height: 100%;
    }
    #imagov .thumbnail {
        max-width: 150px;
    }
}
#ratingov {

    padding-top: 0;
}


@media (max-width: 767px) {
    .zoomContainer {
        display: none;
    }
}

.product-descriptionv {
    float: left;
    height: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
}



#coloro .btn-primary:hover {
    background-color: rgba(0, 102, 51, 0.9);
    border-color: rgba(0, 0, 0, 0.9);
}

#buy-product {
    text-align: center;
    margin-bottom: 20px;
}