// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//currently optimized to screens of at least 257px in width. 

h1 {
  font-family: 'Montserrat', sans-serif;
}




/* Custom Bootstrap Navbar */

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: #ffffffpx;
    background-color: #292929;
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: #292929;
    font-family: 'Lato', sans-serif;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(121, 147, 184, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-style: none;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
     background-color: #292929;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #8f8f8f;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-brand {
    color: #777;
    font-family: 'Montserrat', sans-serif;
}


.navbar-header button {
    border-color: #fff;
}

.search {
    display: inline-block;
    border:solid #8f8f8f 2px;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    // font-size: 15px;
}

.search-control {
    padding-left: 10px;
}

.search input {
    background-color: #292929;
    border: none;
    color: #fff;
}

input[type=submit] {
    background-color: #8f8f8f;
    border-radius: 1px;

}
@media (min-width: 860px) {
    nav .container {
        width: 850px;
    }

}

@media (min-width: 768px) {
    #nav-bs {
        display: inline-block!important;

    }
}

@media (max-width: 767px) {
    .navbar-header {
        display:inline-block;
        // width: 60%;
    }
    .search {
        display: block;
        float: right;
    }

    #nav-bs {
    width: 100%;
    }


}

@media (max-width: 474px) {
    .navbar-header {
        width: 100%;
        margin-left: 0px;
    }    

}

@media (max-width: 296px) {
    .navbar-brand {
    padding: 15px 10px;
    font-size: 15px;
    }
}
/* End Custom Bootstrap Navbar */

/* Jumbotron */
.jumbotron {
    margin-bottom: 0;
    // background-color:none;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), 
    url(backcountry.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.jumbotron h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.jumbotron p {
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.jumbotron .btn-primary {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    font-size: 12px;
}

@media (max-width: 350px) {
  .jumbotron {
    padding-top: 10px;
    background-size: 500px;
    background-position: left;
  }
  .jumbotron p {
    font-size: 17px;
  } 

}
/* End Jumbotron */


/* Carousel */

.carousel-inner {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.carousel-indicators li {
    background-color: #000000;
}

.carousel-indicators .active {
    background-color: #000000;
}

.carousel-caption {
    color:black;
    left: auto;
    top: 0;
}
/* End Carousel */

/* Body */
body {
    margin: 0;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 26.4px;
    padding-top: 100px;
}

p {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

#maintext {
	padding-top: 100px;
}



/* End Body */

/* Footer */

footer {
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}


/* End Footer */