<p id="notice"><%= notice %></p>


<div class="container">
<h1>Products</h1>
  <div class="row">
<%= render @products %>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    
     <% if signed_in? && current_user.admin? %>
        <%= link_to 'New Product', new_product_path, :class => "btn btn-xs btn-success" %>
        <%= params[:example_key].to_i * 10 %>
      <% end %>
  </div>



</div>

